.githubPAT
**/.quarto/*
.Rproj.user
**/*_cache/*
*_files/*
**/*_freeze/*
**/*tsv*
**/*csv*
**/*xlsx*
**/*zip
.DS_Store
.Rhistory
docs/archive/AY-2024-FALL/**
docs/archive/AY-2024-SPRING/**
docs/advice/*
slides/*files*
slides/*cache*
labs/*files*
labs/*cache*
miniprojects/*files/*
miniprojects/*cache/*
miniprojects/data/*
advice/*html
advice/*files*
advice/*cache*
data/*
/.quarto/
docs/**/execute-results/*json

